:root {
    --title-color: #322153;
    --primary-color: #34cb79;
    --text-color: #36366e;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #a6eed2;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
  }

  body, input, button {
      font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
      color: var(--title-color);
      font-family: Ubuntu;
  }